<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Bem-vindo(a)</h1>
  
  <p>Este aplicativo foi desenvolvido para ajudar a explorar o maravilhoso mundo dos cães!</p>

  <p>Aqui, você poderá ver imagens de cães aleatórios de várias raças e seus respectivos nomes!</p>

  <p>Explore as opções abaixo para começar a navegar:</p>

  <ion-button expand="block" color="primary" routerLink="/conteudo-api">
    Ir ao Conteúdo
  </ion-button>

  <ion-button expand="block" color="secondary" routerLink="/sobre">
    Saiba Mais
  </ion-button>

</ion-content>
